.move-bottom-1px {
    transform: translateY(1px);
}

.move-bottom-2px {
    transform: translateY(2px);
}

.move-bottom-3px {
    transform: translateY(3px);
}

.move-top-1px {
    transform: translateY(-1px);
}

.move-top-2px {
    transform: translateY(-2px);
}

.move-top-3px {
    transform: translateY(-3px);
}