$hover-transition: all .2s ease-in-out;
$hover-transform-scale: scale(1.05);
$border-radius: .35rem;
$font-color: #212529;

@import "~react-toastify/dist/ReactToastify.css";
@import "assets/scss/override-variables";
@import "assets/scss/align-utils";
@import "assets/scss/font-face";
@import "assets/scss/swal-override";

@font-face {
  font-family: 'Roboto', sans-serif;
  font-display: swap;
}

.cascading-modal {
  &.modal-header {
    padding: 1.5rem;
    margin: -2rem 1rem 1rem 1rem;
    text-align: center;
    border: none;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }

  &.modal-avatar {
    margin-top: 6rem;

    .modal-header {
      margin: -6rem 0 -1rem;
      box-shadow: none;

      img {
        width: 130px;
        margin-right: auto;
        margin-left: auto;
        box-shadow: $box-shadow;
      }
    }
  }
}

.popover-header {
  text-align: center;
}

.popover-body {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.shadow {
  box-shadow: $box-shadow;
}

.danger-shadow {
  box-shadow: 0 3px 5px 0 rgba(204, 51, 0, .5);
}

.btn-link:hover {
  color: inherit;
}

.btn:not(.vote-btn):not(.dropdown-toggle):not(.btn-link) {
  box-shadow: $box-shadow;
  transition: $hover-transition;

  &:hover, &:active {
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .3);
    transform: $hover-transform-scale;
  }
}

.btn-cancel {
  transition: $hover-transition !important;
  &:hover {
    transform: $hover-transform-scale;
  }
}

@import "~bootstrap/scss/bootstrap";

.dropdown-toggle::after {
  display: none;
}

.btn, .btn:focus {
  border: 1px solid transparent;
}

.swal2-modal, .modal-content {
  box-shadow: $box-shadow;
}

.btn {
  border-radius: $border-radius;
}

.btn-success, .btn-success:hover, .btn-success:focus {
  background-color: $green;
}

.btn-danger, .btn-danger:hover, .btn-danger:focus {
  background-color: $red;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
  background-color: $blue;
}

.btn-warning, .btn-warning:hover, .btn-warning:focus {
  background: $orange;
}

.dropdown-menu {
  padding: .2rem 0;

  a {
    font-size: 14px;
    padding: 4px 10px;
  }
}

.dropdown-item {
  &:active {
    background-color: rgba(0, 0, 0, .075);
    color: $font-color;
  }

  &:hover {
    background-color: rgba(0, 0, 0, .075);
  }
}

.card {
  box-shadow: $box-shadow;
  border-radius: $border-radius !important;
}

.badge {
  color: #fff;
  border-width: 0;
  box-shadow: none;
  border-radius: $border-radius;
  padding-left: .5rem;
  padding-right: .5rem;
}

.jumbotron {
  box-shadow: $box-shadow;
  background-position: center;
  text-align: center;
  border-radius: $border-radius;
}

.navbar {
  box-shadow: $box-shadow;
  font-weight: 300;
  padding-bottom: .25rem;
  padding-top: .25rem;
  z-index: 3;
}

.navbar-brand {
  margin-right: 0;
  flex: 1 1;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.btn, .btn:hover {
  color: white;
}

/* fixes scrollbar repositioning page */
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

/* fixes mobile minimum width */
body, .modal {
  min-width: 310px;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-right: 0 !important; /* fixes sweetalert modal padding override */
}

.form-control::placeholder {
  font-size: 15px;
}

.badge-container {
  .badge:first-child {
    border-radius: $border-radius 0 0 $border-radius;
  }

  .badge:nth-child(n+2) {
    border-radius: 0;
  }

  .badge:last-child {
    border-radius: 0 $border-radius $border-radius 0;
  }

  .badge:only-child {
    border-radius: $border-radius;
  }
}

.author-container, .comments-container {
  color: rgba(0, 0, 0, .6);
  float: right;
  margin-left: 0.25rem;
  transform: translateY(3px);
}

.comment-icon {
  text-align: center;
  border-radius: 50%;
  height: 30px;
  min-width: 30px;
  transform: translateY(-3px);
  box-shadow: 0 0 0 1px white, 0 0 0 2px currentColor;

  .icon {
    vertical-align: bottom;
    fill: white;
  }
}

.vote-btn {
  line-height: 16px;
  min-width: 35px;
  min-height: 45px;
  padding: .25rem .5rem;
  margin: 0;
  transition: .2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 576px) {
  .vote-btn {
    font-size: 1rem;
  }

  .card-body {
    padding: .9rem .9rem;
  }
}

.go-back-button {
  color: white;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.markdown-box {
  word-break: break-word;
}

.markdown-box a {
  color: #09c;
  &:hover {
    color: #0f4580;
  }
}

.hidden-anchor {
  text-decoration: none !important;
  color: $font-color !important;
}

.small-text-shadow {
  text-shadow: 0 0 3px #000;
}

/* to fix profile mobile card deck breaking */
.card-deck {
  flex-flow: row wrap !important;
}

@keyframes pulse {
  from, to {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
}

.upvote-animation {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: pulse;
  z-index: 1;
}

.voter-merged {
  margin: 0 -12px 0 0;
  border: 2px solid #f8f9fa;
  transition: .2s ease-in-out;
}

.voter-merged:hover {
  margin: 0 -5px 0 0;
}

.snarkdown-box p {
  margin-bottom: 0;
}

.fa-lg {
  height: 2em;
  width: 2em;
}

@media (max-width: 768px) {
  .fa-xs {
    font-size: 1rem !important;
  }
}

.fa-xs {
  height: .7em;
  width: .7em;
}

a.pre-href {
  cursor: text;
}

.text-black-60 {
  color: rgba(0, 0, 0, .6);
}

.text-black-75 {
  color: rgba(0, 0, 0, .75);
}

.color-picker-admin {
  width: 260px !important;
}

@media (max-width: 315px) {
  .color-picker-admin {
    width: 200px !important;
  }
}

.modal-open {
  overflow-y: inherit !important;
}

.close {
  opacity: 1 !important;
}

.Toastify__toast {
  box-shadow: $box-shadow;
}

.toast-style {
  color: $font-color;
  background-color: white;

  &.info {
    border-left: 5px solid #2196f3;
  }

  &.error {
    border-left: 5px solid #e43e3e;
  }

  &.warning {
    border-left: 5px solid #ffe008;
  }

  &.success {
    border-left: 5px solid #3ec569;
  }

  &.await {
    border-left: 5px solid #0994f6;
  }
}

a {
  outline: 0;
}

.social-link {
  padding: .5rem 1rem;
  background-color: rgba(0, 0, 0, .5);
  transition: .2s ease-in-out;

  &:first-of-type {
    border-top-left-radius: 4px;
  }

  &:last-child {
    border-top-right-radius: 4px;
  }
  &:hover {
    background-color: rgba(0, 0, 0, .25);
  }
}

.border-chosen {
  border: 2px solid #0994f6;
}

.border-invisible {
  border: 2px solid transparent;
}

.justify-content-center {
  justify-content: center !important;
}

.modal {
  overflow-y: hidden;
}

.modal-header {
  display: block;
  border-bottom: medium none;
  text-align: center;
  padding-bottom: 0;
}

.modal-body {
  padding: .25rem 1.5rem;
}

.modal-footer {
  border-top: medium none;
  padding: .5rem 1.5rem 1rem 1.5rem;
}

.form-control::placeholder {
  color: rgba(0, 0, 0, .5);
}

.btn-attachment {
  color: $font-color;

  *:hover {
    cursor: pointer;
    color: $font-color;
  }
}

.board-role {
  &.admin {
    color: #ff0800;
  }

  &.moderator {
    color: #4cbb17;
  }

  &.suspended {
    color: rgba(0, 0, 0, .5);
  }

  &.internal {
    color: #0080FF;
  }
}

.cursor-click {
  cursor: pointer;
  transition: $hover-transition;
  &:hover {
    transform: $hover-transform-scale;
  }
}

.error-icon {
  font-size: 190px;
  color: $red;
}

.red {
  color: $red;
}

.voters-and-more {
  letter-spacing: -.3pt;
  margin-left: 10px;
  font-size: 13px;
  display: inline;
}

.text-tight {
  letter-spacing: -.3pt;
}

.view-box {
  z-index: 1;
  position: relative;
  top: 35px;
  color: white;
  padding: 1rem 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.view-box-bg {
  background-color: white;
  border-radius: $border-radius;
}

.sidebar {
  margin-top: 1.5rem;

  ul {
    padding-left: 0;
    margin-bottom: 0.25rem;
    list-style: outside none none;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2rem;

    a {
      transition: $hover-transition;
      &:hover {
        transform: $hover-transform-scale;
      }
    }
  }
}

.roadmap-col {
  min-width: 300px;
}

.roadmap-container {
  min-height: 310px;
  max-height: 310px;
  overflow: auto;
  scrollbar-width: thin; /* firefox property */
  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background: #f0f0f0;
  }

  &::-webkit-scrollbar-thumb {
    background: #cdcdcd;
  }
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}

.search-dropdown-bar {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

.hoverable-option {
  transition: $hover-transition;

  &:hover {
    transform: scale(1.2);
  }
}

@import "assets/scss/dark-mode";