/* fixes scrollbar repositioning page */
html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    font-size: 15px;
    font-family: 'Roboto', sans-serif !important;
}

/* fixes mobile minimum width */
body, .modal {
    min-width: 280px;
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
}

/* fixes sweetalert modal padding override */
body {
    padding-right: 0 !important;
}


/* BOOTSTRAP SETTINGS OVERRIDE START */
.form-control::placeholder {
    font-size: 15px;
}

.btn {
    text-transform: none !important;
}

.btn:not(.btn-link) {
    box-shadow: 0 1px 3px rgba(50,50,93,.25),0 1px 0 rgba(0,0,0,.02);
}

.btn:not(.btn-link):hover {
    box-shadow: 0 3px 5px rgba(50,50,93,.35),0 1px 0 rgba(0,0,0,.02);
}
/* BOOTSTRAP SETTINGS OVERRIDE END */

/* ALIGN UTILITIES */
.move-bottom-1px {
    transform: translateY(1px);
}

.move-bottom-2px {
    transform: translateY(2px);
}

.move-bottom-3px {
    transform: translateY(3px);
}

.move-top-1px {
    transform: translateY(-1px);
}

.move-top-2px {
    transform: translateY(-2px);
}

.move-top-3px {
    transform: translateY(-3px);
}
/* ALIGN UTILITIES END */