$dark-background: #202328;
$dark-secondary: #292c30;
$dark-tertiary: #2c2f33;
$dark-quaternary: #383c41;
$dark-font-color: #f2f2f2;
$dark-disabled: #202328;
$dark-hover: #424853;

$dark-role-admin: #fd413c;
$dark-role-moderator: #3cfd41;
$dark-role-suspended: #a9a9a9;
$dark-comment-internal: #3299ff;

.dark {
  background-color: $dark-background;
  color: $dark-font-color;
  .bg-dark, .popover-header, kbd {
    background-color: $dark-quaternary !important;
  }
  .modal-content, .swal2-modal, .swal2-content, .swal2-validation-message {
    background-color: $dark-background;
    color: $dark-font-color !important;
  }
  .chrome-picker {
    & > div {
      background-color: $dark-background;
    }
    & svg {
      fill: $dark-font-color !important;
    }
    input {
      background-color: $dark-tertiary;
      box-shadow: $box-shadow !important;
      color: $dark-font-color !important;
    }
  }
  .jumbotron[style^="background-image: url"]:not(#boardBannerPreview) {
    filter: brightness(90%);
  }
  .form-control::placeholder {
    color: #7e7e7e;
  }
  .dropdown-item:hover {
    background-color: $dark-hover;
  }
  .swal2-cancel {
    color: rgba(242, 242, 242, 0.6) !important;
  }
  .fa-attachment, .swal2-title, .btn-link, small, .dropdown .mod-tools svg {
    color: $dark-font-color !important;
  }
  .swal2-warning {
    color: #ffd986 !important;
    border-color: #febc2c !important;
  }
  .text-black-50 {
    color: rgba(242,242,242,.5) !important;
  }
  .text-black-75 {
    color: rgba(242,242,242,.75) !important;
  }
  .text-black-60 {
    color: rgba(242,242,242,.6) !important;
  }
  textarea, .form-control, .swal2-input {
    background-color: $dark-secondary !important;
    color: rgba(242,242,242,.6) !important;
    //TODO subject to consider
    box-shadow: none !important;
  }
  .form-control:disabled {
    background-color: $dark-disabled !important;
  }
  .btn-attachment {
    background-color: $dark-secondary;
    box-shadow: none !important;
    *:hover {
      color: $dark-font-color;
    }
  }
  .voter-merged {
    border: 2px solid $dark-background;
  }
  .card, hr {
    background-color: $dark-secondary;
  }
  .badge-warning {
    background-color: #e5a82d !important;
  }
  .dropdown-menu, .dropdown-item {
    background-color: $dark-tertiary;
    color: $dark-font-color;
  }
  .tooltip-inner {
    background-color: $dark-font-color !important;
    color: $dark-secondary !important;
  }
  .arrow::before {
    border-top-color: $dark-font-color !important;
  }
  .dropdown-divider {
    border-color: $dark-background !important;
  }
  .progress {
    background-color: $dark-font-color !important;
  }
  .progress-bar,
  .rc-steps-item-process .rc-steps-item-icon > .rc-steps-icon .rc-steps-icon-dot,
  .rc-steps-item-finish .rc-steps-item-icon > .rc-steps-icon .rc-steps-icon-dot
  {
    background-color: #007bff !important;
  }
  .rc-steps-item-title {
    color: $dark-font-color !important;
  }
  .rc-steps-item-wait .rc-steps-item-icon > .rc-steps-icon .rc-steps-icon-dot {
    background-color: $dark-font-color !important;
  }
  #commentContainer a, #socialPreviewContainer a, .markdown-box a:not(.pre-href), .markdown-box a *, .snarkdown-box a:not(.pre-href) {
    color: #3ea6ff !important;
    &:hover {
      color: #007bff !important;
    }
  }
  .toast-style, .popover-body {
    background-color: $dark-secondary;
    color: $dark-font-color;
  }
  .board-role {
    &.admin {
      color: $dark-role-admin;
    }

    &.moderator {
      color: $dark-role-moderator;
    }

    &.suspended {
      color: $dark-role-suspended;
    }

    &.internal {
      color: $dark-comment-internal;
    }
  }
  .hidden-anchor {
    color: $dark-font-color !important;
  }
  .img-thumbnail {
    background-color: $dark-tertiary;
  }
  .popover  {
    background: transparent !important;
  }
  .comment-icon {
    box-shadow: 0 0 0 1px $dark-background, 0 0 0 2px currentColor;
  }
  .view-box-bg {
    background-color: $dark-secondary;
    .form-control:not(:disabled) {
      background-color: $dark-quaternary !important;
    }
  }
  .danger-shadow {
    box-shadow: 0 3px 5px 0 rgba(255, 57, 50, .5);
  }
  .roadmap-container {
    scrollbar-color: $dark-hover $dark-tertiary; /* firefox property */
    &::-webkit-scrollbar {
      background: $dark-tertiary;
    }
    &::-webkit-scrollbar-thumb {
      background: $dark-hover;
    }
  }
  .search-dropdown-bar {
    background-color: $dark-tertiary;
    padding: 0 .5rem;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      background-color: $dark-hover;
    }
  }
}