.dark {
  background-color: #1f1f1f;
  color: #f2f2f2;
}

.dark .modal-content, .dark .swal2-modal, .dark .swal2-content {
  background-color: #1f1f1f;
  color: #f2f2f2 !important;
}

.dark .chrome-picker div {
  background-color: #1f1f1f;
}

.dark .chrome-picker input {
  background-color: #1f1f1f;
  box-shadow: 0 0 0 1px rgb(100, 100, 100) !important;
  color: #f2f2f2 !important;
}

.dark .chrome-picker .saturation-white div {
  color: inherit !important;
  background-color: transparent !important;
}

.dark .chrome-picker .hue-horizontal div:nth-child(2) {
  background-color: transparent !important;
}

.dark .saturation-white {
  background: -webkit-linear-gradient(to right, #fff, rgba(255,255,255,0)) !important;
  background: linear-gradient(to right, #fff, rgba(255,255,255,0)) !important;
}
.dark .saturation-black {
  background: -webkit-linear-gradient(to top, #000, rgba(0,0,0,0)) !important;
  background: linear-gradient(to top, #000, rgba(0,0,0,0)) !important;
}

.dark .bg-main {
  background-color: #1f1f1f !important;
}

.dark .jumbotron[style^="background-image: url"]:not(#boardBannerPreview) {
  filter: brightness(90%);
}

.dark .profile-card[style^="background-image: url"] {
  filter: brightness(90%) !important;
}

.dark .dropdown-item:hover, .dark nav .dropdown-item:hover, .dark .mod-tools .dropdown-item:hover {
  background-color: #646464 !important;
}

.dark .mod-tools .dropdown-item {
  background-color: #2e2e2e !important;
}

.dark .form-control::placeholder {
  color: #707070 !important;
}

.dark .swal2-cancel, .dark .btn-link {
  color: #f2f2f2 !important;
}

.dark small {
  color: #f2f2f2 !important;
}

.dark .dropdown svg {
  color: white !important;
}

.dark .dropdown-toggle {
  color: white !important;
}

.dark .swal2-icon-content, .dark .swal2-x-mark {
  background-color: initial !important;
}

.dark .swal2-x-mark-line-left, .dark .swal2-x-mark-line-right {
  background-color: #f27474 !important;
}

.dark .swal2-input:focus {
  box-shadow: none !important;
}

.dark .swal2-title {
  color: #f2f2f2 !important;
}

.dark .text-black-50 {
  color: rgba(255,255,255,.5) !important;
}

.dark .text-black-75 {
  color: rgba(255,255,255,.75) !important;
}

.dark .text-black-60 {
  color: rgba(255,255,255,.6) !important;
}

.dark textarea, .dark .form-control, .dark .swal2-input {
  background-color: #2d2d2d !important;
  color: rgba(255,255,255,.6) !important;
  box-shadow: none !important;
}

.dark .form-control:disabled {
  background-color: rgba(40, 40, 40, 0.8) !important;
}

.dark .btn-attachment {
  background-color: rgba(40, 40, 40, 0.98) !important;
  box-shadow: none !important;
}

.dark .merged {
  border: 2px solid #1f1f1f;
}

.dark .card {
  background-color: rgba(40, 40, 40, 0.98);
}

.dark .badge-warning {
  background-color: #e5a82d !important;
}

.dark button:not(.btn-attachment) {
  filter: brightness(90%);
}

.dark .modal-dialog {
  border-radius: 5px !important;
}

.dark .dropdown-menu, .dark .dropdown-item {
  background-color: #2e2e2e;
  color: #f2f2f2;
}

.dark .tooltip-inner {
  background-color: #f2f2f2 !important;
  color: rgba(40, 40, 40, 0.98) !important;
}

.dark .arrow::before {
  border-top-color: #f2f2f2 !important;
}

.dark .popover-body, .dark .popover-body {
  background-color: rgba(40, 40, 40, 0.98) !important;
  color: #f2f2f2;
}

.dark .load-spinner {
  background-color: #f2f2f2 !important;
}

.dark hr {
  background-color: rgba(40, 40, 40, 0.98) !important;
}

.dark .dropdown-divider {
  border-color: #1f1f1f !important;
}

.dark .box-overlay {
  border-color: rgba(40, 40, 40, 0.98);
  &.danger {
    border-color: #FF3547;
  }
}

.dark #boardBanner {
  filter: brightness(90%);
}

.dark .text-danger {
  color: #FF3547 !important;
}

.dark .circle-picker span div span {
  filter: brightness(85%);
}

.dark .progress {
  background-color: #e9ecef !important;
}

.dark .progress-bar {
  background-color: #007bff !important;
}

.dark .rc-steps-item-process .rc-steps-item-icon > .rc-steps-icon .rc-steps-icon-dot,
.rc-steps-item-finish .rc-steps-item-icon > .rc-steps-icon .rc-steps-icon-dot
{
  background-color: #007bff !important;
}

.dark .rc-steps-item-wait .rc-steps-item-icon > .rc-steps-icon .rc-steps-icon-dot {
  background-color: #f2f2f2 !important;
}

.dark #commentContainer a, .dark #socialPreviewContainer a {
  color: #3ea6ff;
}

.dark .markdown-box a:not(.pre-href), .dark .markdown-box a *, .dark .snarkdown-box a:not(.pre-href) {
  color: #3ea6ff !important;
}

.dark .toast-style {
  background-color: rgba(40, 40, 40, 0.98) !important;
  color: #f2f2f2 !important;
}

.dark .Toastify .Toastify__toast-container {
  background-color: transparent !important;
}

.dark .Toastify__toast {
  background-color: rgba(40, 40, 40, 0.98) !important;
}

.dark .fa-attachment {
  color: #f2f2f2;
}

.dark .board-role {
  &.admin {
    color: #ff3932 !important;
  }

  &.moderator {
    color: #4f9f29 !important;
  }

  &.internal {
    color: #3299ff !important;
  }
}

.dark .hidden-anchor {
  color: #f2f2f2 !important;
}

.dark kbd {
  background-color: #343434 !important;
}

.dark .modal-header {
  background-color: transparent !important;
}

.dark .dark-mask {
  background-color: rgba(31,31,31,.1) !important;
}

.dark .img-thumbnail {
  background-color: #2e2e2e !important;
  border: 1px solid #2e2e2e !important;
}

.dark .popover  {
  background: transparent !important;
}

.dark .dark-mask h3, .dark .dark-mask h5 {
  color: white !important;
}

.dark .profile-card .text-truncate {
  color: white !important;
}

.dark .comment-icon {
  box-shadow: 0 0 0 1px #1f1f1f, 0 0 0 2px currentColor;
}

.dark .view-box-bg {
  background-color: rgba(40, 40, 40, 0.4) !important;
}

.dark .danger-shadow {
  box-shadow: 0 3px 5px 0 rgba(255, 57, 50, .5);
}