$border-radius: .35rem;
$font-color: hsl(210, 11%, 15%);
$pure-dark-half: hsla(0, 0%, 0%, .5);

@import "~react-toastify/dist/ReactToastify.css";
@import "commons/override-variables";
@import "commons/align-utils";
@import "commons/font-face";

:root {
  --box-shadow: 0 3px 5px 0 hsla(0, 0%, 0%, .15);
  --hover-transition: all .2s ease-in-out;
  --hover-transform-scale: scale(1.05);
  --font-color: hsl(210, 11%, 15%);
  --pure-dark-half: hsla(0, 0%, 0%, .5);
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-display: swap;
}

.modal-content, .Toastify__toast {
  box-shadow: var(--box-shadow);
}

.danger-shadow {
  box-shadow: 0 3px 5px 0 hsla(15, 100%, 40%, .5) !important;
}

@import "commons/bootstrap-imports";

.dropdown-toggle::after {
  display: none;
}

.btn, .btn:focus {
  border: 1px solid transparent;
}

.btn {
  border-radius: $border-radius;
}

.btn-success, .btn-success:hover, .btn-success:focus {
  background-color: $green;
}

.btn-danger, .btn-danger:hover, .btn-danger:focus {
  background-color: $red;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
  background-color: $blue;
}

.btn-warning, .btn-warning:hover, .btn-warning:focus {
  background: $orange;
}

.dropdown-menu {
  padding: .2rem 0;

  a {
    font-size: 14px;
    padding: 4px 10px;
  }
}

.dropdown-item {
  &:active {
    background-color: hsla(0, 0%, 0%, .075);
    color: var(--font-color);
  }

  &:hover {
    background-color: hsla(0, 0%, 0%, .075);
  }
}

.card {
  box-shadow: var(--box-shadow);
  border-radius: $border-radius !important;
}

.jumbotron {
  box-shadow: var(--box-shadow);
  background-position: center;
  text-align: center;
  border-radius: $border-radius;
}

.navbar {
  box-shadow: var(--box-shadow);
  font-weight: 300;
  padding-bottom: .25rem;
  padding-top: .25rem;
  z-index: 3;
}

.navbar-brand {
  margin-right: 0;
  flex: 1 1;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

hr {
  border-top: 1px solid hsla(0, 0%, 0%, .1);
}

/* fixes scrollbar repositioning page */
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

/* fixes mobile minimum width */
body, .modal {
  min-width: 310px;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

.form-control::placeholder {
  font-size: 15px;
}

.form-control:-moz-focusring {
  text-shadow: none !important;
}

@media (max-width: 576px) {
  .card-body {
    padding: .9rem .9rem;
  }
}

.go-back-button {
  color: white;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.markdown-box {
  word-break: break-word;
}

.markdown-box a {
  color: hsl(195, 100%, 40%);

  &:hover {
    color: hsl(195, 100%, 20%);
  }
}

.hidden-anchor {
  text-decoration: none !important;
  color: var(--font-color) !important;
}

/* to fix profile mobile card deck breaking */
.card-deck {
  flex-flow: row wrap !important;
}

@keyframes pulse {
  from, to {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
}

.upvote-animation {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: pulse;
  z-index: 1;
}

.snarkdown-box p {
  margin-bottom: 0;
}

.fa-lg {
  height: 2em;
  width: 2em;
}

.fa-md {
  height: 1.5em;
  width: 1.5em;
}

@media (max-width: 768px) {
  .fa-xs {
    font-size: 1rem !important;
  }
}

.fa-xs {
  height: .7em;
  width: .7em;
}

a.pre-href {
  cursor: text;
}

.text-black-60 {
  color: hsla(0, 0%, 0%, .6);
}

.text-black-75 {
  color: hsla(0, 0%, 0%, .75);
}

.color-picker-admin {
  width: 260px !important;
}

@media (max-width: 315px) {
  .color-picker-admin {
    width: 200px !important;
  }
}

.modal-open {
  overflow-y: inherit !important;
}

.close {
  opacity: 1 !important;
}

.toast-style {
  color: var(--font-color);
  background-color: white;

  &.info {
    border-left: 5px solid hsl(207, 90%, 54%);
  }

  &.error {
    border-left: 5px solid hsl(0, 75%, 57%);
  }

  &.warning {
    border-left: 5px solid hsl(52, 100%, 52%);
  }

  &.success {
    border-left: 5px solid hsl(139, 54%, 51%);
  }

  &.await {
    border-left: 5px solid hsl(205, 93%, 50%);
  }
}

.justify-content-center {
  justify-content: center !important;
}

.modal {
  overflow-y: hidden;
}

.modal-header {
  display: block;
  border-bottom: medium none;
  text-align: center;
  padding-bottom: 0;
}

.modal-content {
  background-color: hsl(210, 17%, 98%);
}

.modal-body {
  padding: .25rem 1.5rem;
}

.modal-footer {
  border-top: medium none;
  padding: .5rem 1.5rem 1rem 1.5rem;
}

.form-control::placeholder {
  color: $pure-dark-half;
}

.cursor-click {
  cursor: pointer;
  transition: var(--hover-transition);

  &:hover {
    transform: var(--hover-transform-scale);
  }
}

.red {
  color: $red;
}

.blue {
  color: $blue;
}

.view-box-bg {
  background-color: white;
  border-radius: $border-radius;
  box-shadow: var(--box-shadow);
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}

.search-bar {
  overflow: hidden !important;
  max-height: 33px;
  min-height: 33px;
  white-space: nowrap;
}

.hoverable-option {
  transition: var(--hover-transition);

  &:hover {
    transform: scale(1.2);
  }
}

@import "main-dark";