/* fixes scrollbar repositioning page */
html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    font-size: 15px;
    font-family: 'Roboto', sans-serif !important;
}

.form-control::placeholder {
    font-size: 15px;
}

.btn {
    text-transform: none !important;
}

.btn:not(.btn-link) {
    box-shadow: 0 1px 3px rgba(50,50,93,.25),0 1px 0 rgba(0,0,0,.02);
}

.btn:not(.btn-link):hover {
    box-shadow: 0 3px 5px rgba(50,50,93,.35),0 1px 0 rgba(0,0,0,.02);
}

.block-hover a:hover {
    color: white !important;
}

.btn.disabled {
    pointer-events: all !important;
    background: #939393 !important;
    opacity: 1 !important;
}

.jumbotron {
    background-position: center;
    color: white;
    text-align: center;
}

.card-body a {
    text-decoration: none;
    color: inherit;
}

.image + .tooltip-text {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    position: absolute;
    z-index: 1;
}

.image + .tooltip-text::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.image:hover + .tooltip-text {
    visibility: visible;
}

.no-border {
    border-radius: 0 !important;
}

.badge {
    border-width: 0;
    box-shadow: none;
    font-weight: 400;
    font-size: .7rem;
}

.badge-container .badge:first-child {
    border-radius: 4px 0 0 4px;
}

.badge-container .badge:nth-child(n+2) {
    border-radius: 0;
}

.badge-container .badge:last-child {
    border-radius: 0 4px 4px 0;
}

.badge-container .badge:only-child {
    border-radius: 4px;
}

@media (max-width: 576px) {
    .vote-button {
        font-size: .85rem;
        padding: .3rem .6rem;
    }

    .card-body {
        padding: .9rem .9rem;
    }
}

/* fixes mobile minimum width */
body, .modal {
    min-width: 280px;
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.go-back-button {
    color: white;
}

.go-back-button:hover {
    transform: scale(1.15);
    color: white;
    text-decoration: none;
}

.dropdown-menu a {
    font-size: 14px !important;
    padding: 4px 10px !important;
}

.dropdown-menu {
    padding: .2rem 0;
}

.markdown-box a {
    color: #09c;
}

.flex-on {
    flex: 1 !important;
}

.not-voted {
    color: rgba(0, 0, 0, .7);
}

.hidden-anchor {
    text-decoration: none !important;
    color: black !important;
}

footer p {
    margin-bottom: 0;
}

.btn-smaller {
    font-size: .9rem;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.small-text-shadow {
    text-shadow: 0 0 3px #000;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

/* to fix profile mobile card deck breaking */
.card-deck {
    flex-flow: row wrap !important;
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    animation-name: pulse;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.merged {
    margin: 0 -12px 0 0;
    border: 2px solid #f8f9fa;
}

.snarkdown-box p {
    margin-bottom: 0;
}

.btn:focus, .form-control:focus {
    box-shadow: none;
}

.fa-lg {
    height: 2em;
    width: 2em;
}

.fa-md {
    height: 1.2em;
    width: 1.2em;
}

.fa-sm {
    height: .9em;
    width: .9em;
}

@media (max-width: 768px) {
    .fa-xs {
        font-size: 1rem !important;
    }
}

.fa-xs {
    height: .7em;
    width: .7em;
}

.mod-tools .dropdown-item {
    padding: .15rem .5rem;
    font-size: 14px;
}

.mod-tools.dropdown-menu {
    min-width: 8.5rem;
}

a.pre-href {
    cursor: text;
}

#sidebar a {
    color: inherit;
    text-decoration: none;
}

#attribution a {
    text-decoration: none;
}

.color-picker-admin {
    width: 260px !important;
}

.text-black-60 {
    color: rgba(0,0,0,.6) !important;
}

.text-black-75 {
    color: rgba(0,0,0,.75) !important;
}

@media (max-width: 315px) {
    .color-picker-admin {
        width: 200px !important;
    }
}

textarea, input {
    border-color: #ced4da !important;
}

.modal-open {
    overflow-y: inherit !important;
}

.modal-content {
    border-radius: 5px !important;
}

.modal-header {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.close {
    opacity: 1 !important;
}

.info-toast-style {
    background-color: white;
    border-left: 5px solid #2196f3;
    color: rgba(0,0,0,.9);
}

.error-toast-style {
    background-color: white;
    border-left: 5px solid #e43e3e;
    color: rgba(0,0,0,.9);
}

.warning-toast-style {
    background-color: white;
    border-left: 5px solid #ffe008;
    color: rgba(0,0,0,.9);
}

.success-toast-style {
    background-color: white;
    border-left: 5px solid #3ec569;
    color: rgba(0,0,0,.9);
}

.await-toast-style {
    background-color: white;
    border-left: 5px solid #0994f6;
    color: rgba(0,0,0,.9);
}

.dropdown-menu {
    box-shadow: 0 4px 6px 0 hsla(0,0%,0%,.2) !important;
    border: none !important;
}

a {
    outline: 0;
}

.bg-feedbacky, .badge-feedbacky {
    background-color: #0994f6 !important;
}

.social-link:first-of-type {
    border-top-left-radius: 4px;
}

.social-link:last-child {
    border-top-right-radius: 4px;
}

.border-chosen {
    border: 2px solid #0994f6 !important;
}

.border-invisible {
    border: 2px solid transparent !important;
}

.rounded-xl {
    border-radius: 6px !important;
}

.justify-content-center {
    justify-content: center !important;
}

.modal {
    overflow-y: hidden !important;
}

.form-control, .btn-attachment {
    box-shadow: 0 1px 3px rgba(50,50,93,.25),0 1px 0 rgba(0,0,0,.02) !important;
    border: none !important;
}

.form-control:focus {
    box-shadow: 0 2px 6px rgba(50,50,93,.25),0 1px 0 rgba(0,0,0,.02);
}

.form-control::placeholder {
    color: rgba(0,0,0,.5);
}

.btn-attachment *:hover {
    cursor: pointer !important;
}

.btn, .btn:focus {
  border: 1px solid transparent !important;
}

.swal2-cancel {
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.5) !important;
}

.swal2-cancel:hover {
    background-image: none !important;
    text-decoration: underline;
}

.swal2-modal .swal2-styled:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.swal2-styled {
    font-size: .9em !important;
    padding: 0.375rem 0.75rem !important;
    font-weight: 400 !important;
}

.swal2-actions {
    justify-content: right !important;
}

.swal2-confirm, .swal2-confirm:focus {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.swal2-content {
    font-size: inherit !important;
    color: black !important;
}

.swal2-title {
    color: black !important;
    font-size: 1.25em !important;
}

/* fixes sweetalert modal padding override */
body {
    padding-right: 0 !important;
}

.box-overlay {
    border-style: solid;
    border-width: 2px;
    border-color: #ececec;
}

.box-overlay-danger {
    border-style: solid;
    border-width: 2px;
    border-color: #cc3300;
}

.role-admin-color {
    color: #ff0800;
}

.role-moderator-color {
    color: #4cbb17;
}

.dark-toggler {
    position: relative;
}
.dark-toggler .well {
    cursor: pointer;
}
.dark-toggler .toggle {
    appearance: none;
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 100;
}
.dark-toggler .toggle ~ .dark-toggle:before {
    content: "🌕";
    position: absolute;
    left: 0;
    top: -15px;
    font-size: 40px;
    z-index: 1;
    transition: 0.2s;
}
.dark-toggler .toggle:checked ~ .dark-toggle:before {
    content: "🌑";
    left: 100%;
    margin-left: -1em;
}

.view .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

.vertically-center-error {
    position: relative;
    top: 25vh;
}
@media (max-width: 992px) {
    .vertically-center-error {
        top: 10vh;
    }
}

.cursor-click {
    cursor: pointer;
}

.swal2-input, .swal2-textarea {
    box-shadow: 0 1px 3px rgba(50,50,93,.25),0 1px 0 rgba(0,0,0,.02) !important;
    border: none !important;
}

.swal2-input:focus, .swal2-textarea:focus {
    border: none;
}