@import "~sweetalert2/dist/sweetalert2.css";

$border-radius: .35rem;

.swal2-cancel {
  background-color: transparent !important;
  color: hsla(0, 0%, 0%, 0.5) !important;
  &:hover {
    background-image: none !important;
    text-decoration: none;
  }
}

.swal2-modal .swal2-styled:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.swal2-styled {
  font-size: $font-size-base !important;
  padding: 0.375rem 0.75rem !important;
  line-height: 1.5;
  font-weight: 400 !important;
  box-shadow: var(--box-shadow);
  border-radius: $border-radius !important;
  transition: var(--hover-transition);
  border: 1px solid transparent !important;
  margin: 0 !important;
  &:hover {
    transform: var(--hover-transform-scale);
    background-image: none !important;
  }
}

.swal2-actions {
  justify-content: right !important;
}

.swal2-confirm, .swal2-confirm:focus {
  box-shadow: var(--box-shadow) !important;
}

.swal2-content {
  font-size: inherit !important;
  color: black !important;
}

.swal2-title {
  color: black !important;
  font-size: 1.25em !important;
}

.swal2-input, .swal2-textarea {
  box-shadow: var(--box-shadow) !important;
  border: none !important;
  font-size: inherit !important;
  &:focus {
    border: none;
  }
}