:root {
  --box-shadow: none;
  --border-radius: .35rem;
  --background: hsl(210, 12%, 91%);
  --secondary: hsl(210, 15%, 94%);
  --tertiary: hsl(210, 17%, 98%);
  --disabled: hsla(217, 11%, 14%, .2);
  --hover: hsla(0, 0%, 0%, .1);
  --internal: hsl(210, 12%, 88%);

  --hover-transition: all .2s ease-in-out;
  --hover-transform-scale-sm: scale(1.05);
  --hover-transform-scale-lg: scale(1.2);
  --font-color: hsl(207, 11%, 20%);
  --pure-dark-half: hsla(0, 0%, 0%, .5);

  --dark-background: hsl(217, 11%, 14%);
  --dark-secondary: hsl(214, 8%, 17%);
  --dark-tertiary: hsl(214, 7%, 19%);
  --dark-quaternary: hsl(213, 7%, 24%);
  --dark-font-color: hsl(0, 0%, 95%);
  --dark-disabled: hsl(243, 17%, 21%);
  --dark-hover: hsl(219, 11%, 32%);
  --dark-internal: hsl(217, 11%, 16%);
  --dark-box-shadow: none;
}