.toast-style {
  color: var(--font-color);
  background-color: white;

  &.info {
    border-left: 5px solid hsl(207, 90%, 54%);
  }

  &.error {
    border-left: 5px solid hsl(0, 75%, 57%);
  }

  &.warning {
    border-left: 5px solid hsl(52, 100%, 52%);
  }

  &.success {
    border-left: 5px solid hsl(139, 54%, 51%);
  }

  &.await {
    border-left: 5px solid hsl(205, 93%, 50%);
  }
}

.dark .toast-style {
  background-color: var(--dark-secondary);
  color: var(--dark-font-color);
  box-shadow: var(--dark-box-shadow) !important;
}